.section__trash {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: 305px;
    margin-top: -10px;
    background: #FF8484;
    width: 32px;
    height: 32px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    opacity: 0;
}

.section__about:hover .section__trash {
    opacity: 1;
}