.header {
    box-sizing: border-box;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 31px 31px 16px 31px;
}


@media (max-width: 600px) {
    .header{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
}